{% extends "base.html" %}

{% block title %}Ошибка 429{% endblock %}

{% block content %}
  <div class="container-sm">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Аккаунт временно заблокирован</p>

        <p class="card-text error-message">
          Пользователь "{{ username }}" временно заблокирован после {{ failure_limit }} неудачных попыток входа.
        </p>

        {% if cooloff_time %}
          <p class="card-text text-muted">
            Следующую попытку входа можно будет совершить <strong>{{ cooloff_time|date:"d.m.Y H:i:s" }}</strong>.
          </p>
        {% endif %}

        <p class="card-text">
          <a href="{% url 'login' %}" class="link-text">Вернуться на страницу входа</a>
        </p>

      </div>
    </div>
  </div>
{% endblock %}
