html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-color);
  transition: color var(--transition-value);
  background-color: var(--light-add-background-color);
}

body.dark {
  color: var(--light-color);
  background-color: var(--dark-add-background-color);
}

.active {
    font-weight: 600;
    color: var(--dark-blue-color) !important;
}

body.dark .active {
    color: var(--light-blue-color) !important;
}

/* * {
  box-sizing: border-box;
} */
