html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--light-add-background-color);
  color: var(--dark-color);
  transition: background-color var(--transition-value), color var(--transition-value);
}

body.dark {
  background-color: var(--dark-add-background-color);
  color: var(--light-color);
}

.active {
    font-weight: 600;
    color: var(--dark-blue-color);
}

body.dark .active {
    color: var(--light-blue-color);
}

/* * {
  box-sizing: border-box;
} */
