<nav class="main-nav">
<ul>
    {% with request.resolver_match.view_name as view_name %}
      <li>
        <a 
          href="{% url 'open5gs:index' %}"
          class="nav-link 
          {% if view_name  == 'open5gs:index' %}active{% endif %}"
          >
          Абоненты
        </a>
      </li>
      <li>
        <a 
          href="{% url 'pages:about' %}"
          class="nav-link 
          {% if view_name  == 'pages:about' %}active{% endif %}"
          >
          О нас
        </a>
      </li>
    {% endwith %}
</ul>
</nav>