.btn-icon {
  background: none;
  border: none;
  color: var(--priority-color);
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 20%;
  transition: color var(--transition-value);
}
.btn-icon:hover {
  color: var(--priority-color);
}

.btn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: var(--color);
  justify-content: center;
}

/* PRIMARY */
.btn-primary {
  background-color: var(--blue-color);
}
.btn-primary:hover {
  background-color: var(--blue-color);
}

/* DANGER */
.btn-danger {
  background-color: var(--red-color);
}
.btn-danger:hover {
  background-color: var(--red-color);
}

/* SECONDARY */
.btn-secondary {
  background-color: var(--gray-color);
}
.btn-secondary:hover {
  background-color: var(--gray-color);
}
