.btn-icon {
  background: none;
  border: none;
  color: var(--priority-color);
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 20%;
  transition: color var(--transition-value);
}
.btn-icon:hover {
  color: var(--priority-color);
}

.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--add-color);
  transition: all var(--transition-value);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.btn:hover {
  box-shadow: 0 0 2px var(--extra-color);
  border-color: var(--color);
  color: var(--color);
}

.btn-primary {
  border: 1.8px solid var(--blue-color);
  background-color: var(--blue-color);
}

.btn-danger {
  border: 1.8px solid var(--red-color);
  background-color: var(--red-color);
}

.btn-secondary {
  border: 1.8px solid var(--gray-color);
  background-color: var(--gray-color);
}
