.content-wrapper {
  flex: 1;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 1.5rem 0;
  box-sizing: border-box;
  width: 100%;
}

.container-sm {
  max-width: 800px;
  margin: 1.5rem 0;
  box-sizing: border-box;
  width: 100%;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 4px var(--dark-extra-color);
  border: none;
}

body.dark .card {
  box-shadow: 0 0 4px var(--light-extra-color);
}

.card-header {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: var(--light-add-background-color);
    border-bottom: 1px solid var(--dark-gray-color);
}

body.dark .card-header {
  background-color: var(--dark-add-background-color);
  border-bottom: 1px solid var(--light-gray-color);
}

.card-body {
  background-color: var(--light-background-color);
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

body.dark .card-body {
  background-color: var(--dark-background-color);
}

.text-muted {
  color: var(--text-muted-color);
}

.error-message {
  padding: 1rem 2rem;
  margin: 1.5rem auto;
  text-align: center;
  color: var(--dark-red-color);
}

body.dark .error-message {
  color: var(--light-red-color);
}

@media (max-width: 768px) {
  .content-wrapper {
    padding: 1rem;
  }
}